html{
    height: 100%;
}

body{
    background-image: url("/SanValentin/src/main-background.png");
    background-size: cover;
}

body.r-validation{
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98%;
}

.r-validation-header{
    font-size: 40px;
    margin-bottom: 40px;
    color: #d1335d;
}

.r-image-login{
    height: 125px;
    margin-bottom: 20px;
}

.r-container-pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f485a3;
    font-size: 30px;
    font-weight: bold;
}

.r-input{
    width: 50px;
    height: 60px;
    margin: 2px;
    border-radius: 8px;
    border: 5px solid #f485a3;
    text-align: center;
    font-size: 30px;
    appearance: none;
    -moz-appearance: none; /* Para Firefox */
    -webkit-appearance: none; /* Para Safari y Chrome */
}

.r-validation-btn{
    background: #eb4e78;
    color: white;
    border: none;
    width: 100%;
}

.r-validation-btn:hover{
    background: #af1b42;
}

.r-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.r-container.r-accept .r-initial, .r-container.r-deny .r-initial, .r-container .r-accept-items, .r-container .r-deny-items{
    display: none;
}

.r-container.r-accept .r-accept-items, .r-container.r-deny .r-deny-items, .r-container.r-deny .r-buttons.r-initial{
    display: inherit;
}

.r-main-header{
    font-size: 60px;
    color: #7d001a;
    text-align: center;
}

.r-image-home{
    width: 500px;
}

.r-image-float{
    position: absolute;
    top: -40px;
    right: -150px;
    animation: heartbeat 1s infinite ease-in-out;
}

.r-container-images{
    position: relative;
}

.r-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button{
    position: relative;
    width: 30%;
    margin: 20px;
    padding: 25px 60px;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in
}

button svg{
    position: absolute;
    top: 8%;
    right: 0;
    font-size: 60px;
    opacity: 0;
}

button:hover svg{
    width: 100%;
    opacity: 1;
}

button:hover span{
    opacity: 0;
}

button.r-button-yes{
    background: #fddfe5;
    border: 3px solid #fddfe5;
}

button.r-button-yes:hover{
    background: #c3213c;
    border: 3px solid #c3213c;
}

button.r-button-yes svg{
    color: #bf122fed;
    animation: palpitar 2s infinite ease-in-out;
}

button.r-button-yes:hover, button.r-button-yes:hover svg{
    color: #fddfe5;
}

button:hover.r-button-yes svg{
    animation: palpitar 0.5s infinite ease-in-out;
}

button.r-button-no{
    background: #dbdbdb;
    border: 3px solid #c7c3c4;
    opacity: 0.8;
}

button.r-button-no svg{
    color: #ddb6b6ed;
}

.margin-right{
    margin-right: 10px;
}

.clickable{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

@keyframes palpitar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

.confeti {
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 1;
    animation: confetiAnim 3s ease-out forwards;
}

@keyframes confetiAnim {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-90vh) rotate(360deg);
        opacity: 0;
    }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


@keyframes vibrar {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.vibrar {
    animation: vibrar 0.3s ease-in-out 3; /* Repite 3 veces */
}
  